<main role="main">
  <section class="jumbotron text-center m-0">
    <div class="container">

      <h1 class="jumbotron-heading">Face Detection with Microsoft Azure</h1>
      <p class="lead text-muted">This demo uses Angular to take or upload a photo, and make a request to the Microsoft Face API for detection</p>
      <form #f="ngForm">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

        <button (click)="takeImage()" [disabled]="!f?.valid" class="btn btn-primary m-2">Take picture</button>

        <button (click)="fileInput.click()" [disabled]="!f?.valid" class="btn btn-primary m-2">Upload picture</button>

        <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#exampleModal">
          See full reponse
        </button>
      </form>

      <div class="d-flex justify-content-center">
        <div class="spinner-border my-1" id="loading" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <div *ngIf="faceApiResponse | async as response; else waiting">

            <div *ngIf="(response | json) != '[]'; else no_face_found">
            <app-table [faceApiResponse]="response"></app-table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Full reponse from FaceAPI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body  text-sm-left">
                    <pre>{{response | json}}</pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End Modal -->

        </div>
        <ng-template #no_face_found><label class="sorry my-4">Sorry, no face found!</label></ng-template>
        <ng-template #waiting><label class="waiter my-4">Waiting for the input</label></ng-template>
        <div class="col-md-12">
          <img class="image" *ngIf="imageString" [src]="imageString" alt="imageString">
        </div>
      </div>
    </div>
  </section>
</main>
