<main role="main">
  <section class="jumbotron text-center m-0">
    <div class="container">

      <h1 class="jumbotron-heading">Face Detection with Microsoft Azure</h1>
      <p class="lead text-muted">This demo uses Angular to take or upload a photo, and make a request to the Microsoft Face API for detection</p>
      <form #f="ngForm" class="my-3">
        <!--File picker-->
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <!--Take picture button-->
        <button (click)="takeImage()" [disabled]="!f?.valid" mat-raised-button color="primary" class="py-3 m-1">Take picture</button>
        <!--Upload picture button-->
        <button (click)="fileInput.click()" [disabled]="!f?.valid" mat-raised-button color="primary" class="py-3 m-1">Upload picture</button>
        <!--Detailed API response button-->
        <button mat-raised-button color="accent" [disabled]="!faceApiResponse || (loading$ | async)" data-toggle="modal" data-target="#exampleModal">See full reponse</button>
      </form>

      <div class="row">
        <div class="col-md-12">
          <!-- show the loader when loading is true -->
           <div *ngIf="(loading$ | async)" class="row my-3" style="display: flex; justify-content: center; align-items: center;">
              <mat-spinner></mat-spinner>
            </div>
          <!--The following section is displayed in case of a request, otherwise the waiting section is displayed-->
          <div *ngIf="faceApiResponse | async as response;">
            <!--If the response body is empty, no face found, ohterwise display response as a table-->
            <div *ngIf="(response | json) != '[]'; else no_face_found">
              <ul>
                <li *ngFor="let face of response; let i = index">
                  <h3> Face {{ i + 1 }}</h3>
                  <app-table [faceApiResponse]="face"></app-table>
                </li>
              </ul>
            </div>

            <!--Detailed API response modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Full reponse from FaceAPI</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body  text-sm-left">
                    <pre>{{response | json}}</pre>
                  </div>
                  <div class="modal-footer">
                    <button mat-raised-button color="accent" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
             <!--End modal-->
          </div>
        </div>

        <!--No face found template-->
        <ng-template #no_face_found></ng-template>
        <!--Taken/uploaded image displayed here-->
        <div class="col-md-12">
          <img class="image" *ngIf="imageString" [src]="imageString" alt="imageString">
        </div>
      </div>
    </div>
  </section>
</main>

<!--No face found Modal -->
<button id="noFaceModalButton" data-toggle="modal" style="display: none;" data-target="#noFaceModal"></button>
<div class="modal fade" id="noFaceModal" tabindex="-1" role="dialog" aria-labelledby="noFaceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h2 aria-hidden="true">Oops!</h2>
      </div>
      <div class="modal-body text-sm-left sorry">
        Sorry, no face found!
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="accent" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End modal-->
