button {
	font-size: 18px;
}

.waiter {
	font-size:25px;
	text-align:center;
}

.sorry {
	font-size:25px;
	text-align:center;
  font-weight: bold;
  color:red;
}

.image {
  width: 650px;
  height: auto;
}
