<table class="table text-sm-left">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Glasses</th>
      <td>{{faceApiResponse[0]?.faceAttributes?.glasses}}</td>
    </tr>

    <tr>
      <th>EyeMakeup</th>
      <td>{{faceApiResponse[0]?.faceAttributes?.makeup?.eyeMakeup | boolToYesNo}}</td>
    </tr>

    <tr>
      <th>LipMakeup</th>
      <td>{{faceApiResponse[0]?.faceAttributes?.makeup?.lipMakeup | boolToYesNo}}</td>
    </tr>

  </tbody>

</table>
